{{#resultset}}
<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="list-group">
				 <a href="#" class="list-group-item active">{{name}} - {{website}} - Fundado em: {{founded}}</a>
				<div class="list-group-item">
					
				</div>
				<div class="list-group-item">
				<p class="list-group-item-text">
						
					</p>
				</div>
					<img src="{{cover.source}}" />
					<h4 class="list-group-item-heading">
						{{description}}
					</h4>
					
				<div class="list-group-item">
					<span class="badge">{{talking_about_count}}</span>Falando sobre isso
				</div> <a class="list-group-item active"><span class="badge">{{likes}}</span>Likes</a>
			</div>
		</div>
	</div>
{{/resultset}}